{% extends 'base.html' %}

{% block title %}
<title>Lista de Deportes</title>
{% endblock %}

{% block btn %}
<a class="btn btn-primary" href="{% url 'torre_crud:inicio' %}">Inicio</a>
{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Lista de Deportes</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th> <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                {% for deporte in deportes %}
                    <tr>
                        <td>{{ deporte.id_deporte }}</td>
                        <td>{{ deporte.nombre }}</td>
                        <td>
                            <a href="{% url 'torre_crud:deportes-update' deporte.id_deporte %}" class="btn btn-primary">Editar</a>
                            <form action="{% url 'torre_crud:deportes-delete' deporte.id_deporte %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                        {% empty %}
                        <td>No hay datos</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'torre_crud:deportes-create' %}" class="btn btn-success">Crear Deporte</a> <!-- Botón para crear un nuevo deporte -->
</div>
{% endblock %}
