{% extends 'base.html' %}

{% block title %}
<title>Añadir Deporte - {{ block.super }}</title>
{% endblock %}
{% block btn %}
<a class="btn btn-primary" href="{% url 'torre_crud:inicio' %}">Inicio</a>
{% endblock %}
{% block cuerpo %}
<div class="container mt-5">
    <h1>Añadir Deporte</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            <div class="invalid-feedback">
                {{ form.nombre.errors }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
