{% extends 'base.html' %}

{% block title %}<title>Lista de Deportes - {{ block.super }}</title>{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Lista de Deportes</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for deporte in deportes %}
                    <tr>
                        <td>{{ deporte.id_deporte }}</td>
                        <td>{{ deporte.nombre }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

