{% extends 'base.html' %}

{% block title %}<title>Lista de Equipos</title>{% endblock %}

{% block btn %}
<a class="btn btn-primary" href="{% url 'torre_crud:inicio' %}">Inicio</a>
{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Lista de Equipos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Deporte</th>
                <th>Contacto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in equipos_list %}
                <tr>
                    <td>{{ equipo.nombre }}</td>
                    <td>{{ equipo.id_deporte.nombre }}</td>
                    <td>{{ equipo.contacto }}</td>
                    <td>
                        <a href="{% url 'torre_crud:equipo-detail' equipo.pk %}" class="btn btn-info btn-sm">Detalle</a>
                        <a href="{% url 'torre_crud:equipos-update' equipo.pk %}" class="btn btn-warning btn-sm">Modificar</a>
                        <a href="{% url 'torre_crud:equipos-delete' equipo.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                    {% empty %}
                        <td>No hay datos</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'torre_crud:equipos-create' %}" class="btn btn-success">Añadir Equipo</a>
</div>
{% endblock %}
