{% extends 'base.html' %}

{% block title %}<title>Detalle del Equipo - {{ equipo.nombre }}</title>{% endblock %}

{% block btn %}
<a class="btn btn-primary" href="{% url 'torre_crud:inicio' %}">Inicio</a>
{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Detalle del Equipo - {{ equipo.nombre }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Deporte</th>
                <th>Equipación Principal</th>
                <th>Equipación Suplente</th>
                <th>Contacto</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ equipo.id_equipo }}</td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.id_deporte.nombre }}</td>
                <td>{{ equipo.contacto }}</td>
                <td>{{ equipo.equipacion_principal }}</td>
                <td>{{ equipo.equipacion_suplente }}</td>
                <td>{{ equipo.telefono }}</td>
                <td>{{ equipo.email }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Jugadores</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Dorsal</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
        </thead>
        <tbody>
            {% for jugador in jugadores  %}
                <tr>
                    <td>{{ jugador.dorsal }}</td>
                    <td>{{ jugador.nombre }}</td>
                    <td>{{ jugador.apellido1 }} {{ jugador.apellido2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'torre_crud:equipo-jugador-create' equipo.pk %}" class="btn btn-primary">Añadir Nuevo Jugador</a>
</div>
{% endblock %}
