{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Página de Inicio - {% block super %}{{ block.super }}{% endblock %}</title>
{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>{{ titulo }}</h1>
    
    <!-- Menú -->
    <nav class="nav">
        {% for opcion in menu_opciones %}
            <a class="nav-link" href="{% url 'torre_crud:'|add:opcion|lower|add:'-list' %}">{{ opcion|title }}</a>
        {% endfor %}
    </nav>
    
    <!-- Imagen de deporte -->
    <img src="{% static 'img/futbolImg.jpg' %}" alt="Imagen de Deporte" class="img-fluid my-4">
    
    <!-- Listado de últimos partidos jugados -->
    <div class="row">
        <div class="col-md-6">
            <h2>Últimos partidos jugados</h2>
            <ul class="list-group">
                {% for partido in ultimos_partidos %}
                    <li class="list-group-item">{{ partido.id_local }} VS {{ partido.id_visitante }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <!-- Listado de próximos partidos por jugar -->
        <div class="col-md-6">
            <h2>Próximos partidos por jugar</h2>
            <ul class="list-group">
                {% for partido in proximos_partidos %}
                    <li class="list-group-item">{{ partido.id_local }} VS {{ partido.id_visitante }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
