{% extends 'base.html' %}

{% block title %}
    <title>Detalle del Jugador - {{ elJugador.nombre }} {{ elJugador.apellido1 }} - {{ block.super }}</title>
{% endblock %}

{% block btn %}
<a class="btn btn-primary" href="{% url 'torre_crud:inicio' %}">Inicio</a>
{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Detalle del Jugador - {{ elJugador.nombre }} {{ elJugador.apellido1 }}</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Equipo</th>
                        <th>Dorsal</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Altura</th>
                        <th>Peso</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td>{{ elJugador.id_jugador }}</td>
                        <td>{{ elJugador.nombre }}</td>
                        <td>{{ elJugador.apellido1 }} {{ elJugador.apellido2 }}</td>
                        <td>{{ equipo }}</td>
                        <td>{{ elJugador.dorsal }}</td>
                        <td>{{ elJugador.fecha_nacimiento }}</td>
                        <td>{{ elJugador.altura }} m</td> 
                        <td>{{ elJugador.peso }} kg</td>
                        <td>{{ elJugador.telefono }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
