{% extends 'base.html' %}

{% block title %}<title>Lista de Jugadores - {{ block.super }}</title>{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Lista de Jugadores</h1>
    <ul>
        {% for jugador in jugadores %}
            <li>
                {{ jugador.nombre }} {{ jugador.apellido1 }} {% if jugador.apellido2 %} {{ jugador.apellido2 }} {% endif %} - {{ jugador.equipo }} - {{ jugador.telefono }}
                <a href="{% url 'jugador-detail' jugador.pk %}">Detalle</a> |
                <a href="{% url 'jugador-update' jugador.pk %}">Modificar</a> |
                <a href="{% url 'jugador-delete' jugador.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'jugador-create' %}">Añadir Jugador</a>
</div>
{% endblock %}
