{% extends 'base.html' %}

{% block title %}
    <title>Detalle del Jugador - {{ elJugador.nombre }} {{ elJugador.apellido1 }} - {{ block.super }}</title>
{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Detalle del Jugador - {{ elJugador.nombre }} {{ elJugador.apellido1 }}</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text">ID: {{elJugador.id_jugador}}</p>
            <p class="card-text">Nombre {{elJugador.nombre}}</p>
            <p class="card-text">Apellidos: {{elJugador.apellido1}} {{elJugador.apellido2}}</p>
            <p class="card-text">Equipo: {{ equipo }}</p>
            <p class="card-text">Dorsal: {{elJugador.dorsal}}</p>
            <p class="card-text">Fecha de Nacimiento: {{ elJugador.fecha_nacimiento }}</p>
            <p class="card-text">Altura: {{ elJugador.altura }} m</p>
            <p class="card-text">Peso: {{ elJugador.peso }} kg</p>
            <p class="card-text">Teléfono: {{ elJugador.telefono }}</p>
        </div>
    </div>
</div>
{% endblock %}
