{% extends 'base.html' %}

{% block title %}<title>Listado de Partidos - {{ block.super }}</title>{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Listado de Partidos</h1>
    <ul>
        {% for partido in partidos %}
            <li>
                {{ partido.fecha_hora }} - {{ partido.deporte }} - {{ partido.local }} vs {{ partido.visitante }} - {{ partido.puntos_local }} - {{ partido.puntos_visitante }}
                <a href="{% url 'partido-detail' partido.pk %}">Detalle</a> |
                <a href="{% url 'partido-update' partido.pk %}">Modificar</a> |
                <a href="{% url 'partido-delete' partido.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'partido-create' %}">Añadir Partido</a>
</div>
{% endblock %}
