{% extends 'base.html' %}

{% block title %}
    <title>Detalle del Partido - {{ partido.id_partido }} - {{ block.super }}</title>
{% endblock %}

{% block btn %}
<a class="btn btn-primary" href="{% url 'torre_crud:inicio' %}">Inicio</a>
{% endblock %}

{% block cuerpo %}
<div class="container mt-5">
    <h1>Detalle del Partido - {{ partido.id_partido }}</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID del Partido</th>
                        <th>Deporte</th>
                        <th>Fecha y Hora</th>
                        <th>Instalación</th>
                        <th>Equipo Local</th>
                        <th>Equipo Visitante</th>
                        <th>Puntos Local</th>
                        <th>Puntos Visitante</th>
                        <th>Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ partido.id_partido }}</td>
                        <td>{{ partido.id_deporte.nombre }}</td>
                        <td>{{ partido.fecha_hora }}</td>
                        <td>{{ partido.id_instalacion.nombre }}</td>
                        <td>{{ partido.id_local.nombre }}</td>
                        <td>{{ partido.id_visitante.nombre }}</td>
                        <td>{{ partido.puntos_local }}</td>
                        <td>{{ partido.puntos_visitante }}</td>
                        <td>{{ partido.observaciones }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
